xml/schema.xml

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.jurapida.com"	
	xmlns="http://www.jurapida.com"
	elementFormDefault="qualified">

	<xs:element name="loginAdmin">
  		<xs:complexType>
    		<xs:sequence>
      			<xs:element name="username" type="xs:string"/>
      			<xs:element name="password" type="xs:string"/>
   			</xs:sequence>
  		</xs:complexType>
	</xs:element>

    <xs:element name="products">
        <xs:element name="product">
            <xs:simpleType name="category">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Calcio"/>
                    <xs:enumeration value="Basket"/>
                    <xs:enumeration value="Volley"/>
                    <xs:enumeration value="Tennistavolo"/>
                    <xs:enumeration value="Nuoto"/>
                    <xs:enumeration value="Minigolf"/>
                    <xs:enumeration value="Calciobalilla"/>
                    <xs:enumeration value="Protezioni"/>
                    <xs:enumeration value="Accessori"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="code" type="xs:string"/>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="description" type="xs:string"/>
                    <xs:element name="shortDescription" type="xs:string"/>
                    <xs:element name="img" type="xs:string"/>
                    <xs:element name="thumbnail" type="xs:string"/>
                    <xs:element name="backgroundImg" type="xs:string"/>
                    <xs:element name="inEvidence" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
	</xs:element>
</xs:schema>