xml/schema.xml

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="products">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="product" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="category">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="Calcio"/>
                                        <xs:enumeration value="Basket"/>
                                        <xs:enumeration value="Volley"/>
                                        <xs:enumeration value="Tennistavolo"/>
                                        <xs:enumeration value="Nuoto"/>
                                        <xs:enumeration value="Minigolf"/>
                                        <xs:enumeration value="Calciobalilla"/>
                                        <xs:enumeration value="Protezioni"/>
                                        <xs:enumeration value="Accessori"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>  
                            <xs:element type="xs:string" name="code"/>
                            <xs:element type="xs:string" name="name"/>
                            <xs:element type="xs:string" name="description"/>
                            <xs:element type="xs:string" name="shortDescription"/>
                            <xs:element type="xs:string" name="img"/>
                            <xs:element type="xs:string" name="thumbnail"/>
                            <xs:element type="xs:string" name="backgroundImg"/>
                            <xs:element type="xs:boolean" name="inEvidence"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>